img{
    width: 200px;
    height: 200px;
}
.nav-link{
    position: relative;
}
.nav-link::after{
    opacity: 0;
    transition: all 0.2s;
}

.nav-link:hover{
   /* text-decoration: underline; */
   /* border-bottom: 2px solid orangered; */
}
.nav-link:hover::after{
content: '';
opacity: 1;
height: 2px;
width: 100%;
background-color: rgb(219, 153, 11);
position: absolute;
bottom: 0;
left: 0;
}
